@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
    font-family: 'Urbanist Variable', sans-serif;
    color: #eeeeee;
}

.background-gradient {
    background: radial-gradient(
        circle at top center,
        hsla(225, 4%, 42%, 0.5) 0%,
        hsla(225, 0%, 0%, 0) 50%,
        hsla(225, 0%, 0%, 0) 100%
    );
}